<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-lifecycle-events-extra" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CordovaPluginLifecycleEventsExtra</name>
	<description>Cordova Plugin for Extra App Lifecycle Events, including Terminate and Destroy</description>
	<license>MIT</license>
	<keywords>cordova,events,terminate,destroy,exit,lifecycle</keywords>
	<repo>https://github.com/mgatto/cordova-plugin-lifecycle-events-extra.git</repo>
	<issue>https://github.com/mgatto/cordova-plugin-lifecycle-events-extra/issues</issue>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CordovaPluginLifecycleEventsExtra" >
				<param name="android-package" value="com.lisantra.lifecycle.CordovaPluginLifecycleEventsExtra"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/CordovaPluginLifecycleEventsExtra.java" target-dir="src/com/lisantra/lifecycle" />
	</platform>

	<!-- iOS -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="CordovaPluginLifecycleEventsExtra">
				<param name="ios-package" value="CordovaPluginLifecycleEventsExtra" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<header-file src="src/ios/CordovaPluginLifecycleEventsExtra.h" />
		<source-file src="src/ios/CordovaPluginLifecycleEventsExtra.m" />
	</platform>

</plugin>
